<template>
  <f7-page>
    <f7-navbar title="SassBot - Jess"></f7-navbar>

    <f7-messagebar
      :placeholder="placeholder"
      ref="messagebar"
      :attachments-visible="attachmentsVisible"
      :sheet-visible="sheetVisible"
    >
      <f7-link
        icon-ios="f7:camera_fill"
        icon-md="material:camera_alt"
        slot="inner-start"
        @click="sheetVisible = !sheetVisible"
      ></f7-link>



      <f7-link
        icon-ios="f7:mic"
        icon-md="material:send"
        slot="inner-end"
        @click="recordAudio"
      ></f7-link>      

      <f7-link
        icon-ios="f7:paper_plane_fill"
        icon-md="material:send"
        slot="inner-end"
        @click="sendNextMessage"
      ></f7-link>


      <f7-messagebar-attachments>
        <f7-messagebar-attachment
          v-for="(image, index) in attachments"
          :key="index"
          :image="image"
          @attachment:delete="deleteAttachment(image)"
        ></f7-messagebar-attachment>
      </f7-messagebar-attachments>
      <f7-messagebar-sheet>
        <f7-messagebar-sheet-image
          v-for="(image, index) in images"
          :key="index"
          :image="image"
          :checked="attachments.indexOf(image) >= 0"
          @change="handleAttachment"
        ></f7-messagebar-sheet-image>
      </f7-messagebar-sheet>
    </f7-messagebar>

    <f7-messages ref="messages">
      <f7-messages-title><b>Sunday, Feb 9,</b> 12:58</f7-messages-title>

      <f7-message
        v-for="(message, index) in messagesData"
        :key="index"
        :type="message.type"
        :image="message.image"
        :name="message.name"
        :avatar="message.avatar"
        :first="isFirstMessage(message, index)"
        :last="isLastMessage(message, index)"
        :tail="isTailMessage(message, index)"
      >
        <span slot="text" v-if="message.text" v-html="message.text"></span>
      </f7-message>

      <f7-message v-if="typingMessage"
        type="received"
        :typing="true"
        :first="true"
        :last="true"
        :tail="true"
        :header="`${typingMessage.name} is typing`"
        :avatar="typingMessage.avatar"
      ></f7-message>

    </f7-messages>
  </f7-page>
</template>
<script>
  export default {
    data() {
      return {
        attachments: [],
        sheetVisible: false,
        typingMessage: null,
        messagesData: [
          // {
          //   name: 'SassBot',
          //   type: 'received',
          //   text: 'Afternoon Jess I am your virtual support from Cycle Sync. I am here to help you Slay!',
          // }
          // {
          //   type: 'sent',
          //   text: 'How are you?',
          // },
          // {
          //   name: 'Kate',
          //   type: 'received',
          //   text: 'Hi, I am good!',
          //   avatar: 'http://lorempixel.com/100/100/people/9',
          // },
          // {
          //   name: 'Blue Ninja',
          //   type: 'received',
          //   text: 'Hi there, I am also fine, thanks! And how are you?',
          //   avatar: 'http://lorempixel.com/100/100/people/7',
          // },
          // {
          //   type: 'sent',
          //   text: 'Hey, Blue Ninja! Glad to see you ;)',
          // },
          // {
          //   type: 'sent',
          //   text: 'Hey, look, cutest kitten ever!',
          // },
          // {
          //   type: 'sent',
          //   image: 'http://lorempixel.com/200/260/cats/4/',

          // },
          // {
          //   name: 'Kate',
          //   type: 'received',
          //   text: 'Nice!',
          //   avatar: 'http://lorempixel.com/100/100/people/9',
          // },
          // {
          //   name: 'Kate',
          //   type: 'received',
          //   text: 'Like it very much!',
          //   avatar: 'http://lorempixel.com/100/100/people/9',
          // },
          // {
          //   name: 'Blue Ninja',
          //   type: 'received',
          //   text: 'Awesome!',
          //   avatar: 'http://lorempixel.com/100/100/people/7',
          // },
        ],
        messagesSentIdx: 0,
        messagesSentData: [
          {
            type: 'sent',
            text: 'Sure',
          },
          {
            type: 'sent',
            text: '9th of November',
          },
          {
            type: 'sent',
            text: '4-7 days',
          }
        ],
        messagesReceivedIdx: 0,
        messagesReceivedData: [
          {
            name: 'SassBot',
            type: 'received',
            text: 'When was your last period?',
            audiofile: '/static/audio/4.wav'
          },
          {
            name: 'SassBot',
            type: 'received',
            text: `How long does your period usually last? <br><br> 

            > 1-3 days<br>
            > 4-7 days<br>
            > 7 or more?`,
            audiofile: '/static/audio/5.wav'
          },
          {
            name: 'SassBot',
            type: 'received',
            text: `Thank you! This is your phase 4 .. Here are the recommendations 👩‍`,
            audiofile: null
          },

        ],
        images: [
          'http://lorempixel.com/300/300/cats/1/',
          'http://lorempixel.com/200/300/cats/2/',
          'http://lorempixel.com/400/300/cats/3/',
          'http://lorempixel.com/300/150/cats/4/',
          'http://lorempixel.com/150/300/cats/5/',
          'http://lorempixel.com/300/300/cats/6/',
          'http://lorempixel.com/300/300/cats/7/',
          'http://lorempixel.com/200/300/cats/8/',
          'http://lorempixel.com/400/300/cats/9/',
          'http://lorempixel.com/300/150/cats/10/',
        ],
        people: [
          {
            name: 'Kate Johnson',
            avatar: 'http://lorempixel.com/100/100/people/9',
          },
          {
            name: 'Blue Ninja',
            avatar: 'http://lorempixel.com/100/100/people/7',
          },
        ],
        answers: [
          'Yes!',
          'No',
          'Hm...',
          'I am not sure',
          'And what about you?',
          'May be ;)',
          'Lorem ipsum dolor sit amet, consectetur',
          'What?',
          'Are you sure?',
          'Of course',
          'Need to think about it',
          'Amazing!!!',
        ],
        responseInProgress: false,
      };
    },
    computed: {
      attachmentsVisible() {
        const self = this;
        return self.attachments.length > 0;
      },
      placeholder() {
        const self = this;
        return self.attachments.length > 0 ? 'Add comment or Send' : 'Message';
      },
    },
    mounted() {

      const self = this;
      self.$f7ready(() => {
        self.messagebar = self.$refs.messagebar.f7Messagebar;
        self.messages = self.$refs.messages.f7Messages;

        let audio1, audio2, audio3
        audio1 = self.playAudioAndSendMessage('👩🏼‍👩👩🏼‍ Afternoon jess! I am your virtual support from Cycle Sync. I am here to help you Slay! 💪💪💪', '/static/audio/1.wav')
        audio1.onended = function () {
          audio2 = self.playAudioAndSendMessage('🤔🤔🤔 Did you know that each cycle of your period gives you super woman strengths?! ', '/static/audio/3.wav')
          audio2.onended = function () {
            audio3 = self.playAudioAndSendMessage('Right now we are all about you and we just need to ask you a few simple questions!', '/static/audio/3.1_1.wav')

            audio3.onended = function () {
              self.forceSendMessage('Is that okay? <br><br> 1- Sure <br> 2- Maybe Later')
            }
          }
        }
      });
    },
    methods: {
      isFirstMessage(message, index) {
        const self = this;
        const previousMessage = self.messagesData[index - 1];
        if (message.isTitle) return false;
        if (!previousMessage || previousMessage.type !== message.type || previousMessage.name !== message.name) return true;
        return false;
      },
      isLastMessage(message, index) {
        const self = this;
        const nextMessage = self.messagesData[index + 1];
        if (message.isTitle) return false;
        if (!nextMessage || nextMessage.type !== message.type || nextMessage.name !== message.name) return true;
        return false;
      },
      isTailMessage(message, index) {
        const self = this;
        const nextMessage = self.messagesData[index + 1];
        if (message.isTitle) return false;
        if (!nextMessage || nextMessage.type !== message.type || nextMessage.name !== message.name) return true;
        return false;
      },
      deleteAttachment(image) {
        const self = this;
        const index = self.attachments.indexOf(image);
        self.attachments.splice(index, 1)[0]; // eslint-disable-line
      },
      handleAttachment(e) {
        const self = this;
        const index = self.$$(e.target).parents('label.checkbox').index();
        const image = self.images[index];
        if (e.target.checked) {
          // Add to attachments
          self.attachments.unshift(image);
        } else {
          // Remove from attachments
          self.attachments.splice(self.attachments.indexOf(image), 1);
        }
      },
      playAudioAndSendMessage (message, filepath) {
        let self = this
        self.responseInProgress = true;
        setTimeout(() => {self.responseInProgress=false}, 1000)        
        this.forceSendMessage(message)
        return this.playAudioWithNotification(filepath)
      },
      playAudioWithNotification (filepath) {
        if (filepath === null) return
        var effectaudio = new Audio('/static/audio/notification.mp3')
        var audio = new Audio(filepath);
        effectaudio.volume = 0.1;
        
        effectaudio.play()
        effectaudio.onended = function () {
          audio.play()
        }

        return audio

      },
      recordAudio () {

        var audio = new Audio('/static/audio/button.wav');
        audio.play()

      },
      forceSendMessage (text, type='received') {
        let self = this
        self.typingMessage = {
          name: 'SassBot',
          avatar: 'http://lorempixel.com/100/100/people/9',
        };

        setTimeout(() => {self.typingMessage=null}, 1000)

        this.messagesData.push({text, type: type});
      },
      sendNextMessage() {
        this.messagesData.push( this.messagesSentData[this.messagesSentIdx] )
        this.messagesSentIdx++
        this.receiveNextMessage()
      },
      receiveNextMessage () {
        setTimeout(() => {
          let messageObj = this.messagesReceivedData[this.messagesReceivedIdx]
          this.playAudioAndSendMessage(messageObj.text, messageObj.audiofile)
          this.messagesReceivedIdx++
        }, 500)
      },
      sendMessage() {
        const self = this;
        const text = self.messagebar.getValue().replace(/\n/g, '<br>').trim();
        const messagesToSend = [];
        self.attachments.forEach((attachment) => {
          messagesToSend.push({
            image: attachment,
          });
        });
        if (text.trim().length) {
          messagesToSend.push({
            text,
          });
        }
        if (messagesToSend.length === 0) {
          return;
        }

        // Reset attachments
        self.attachments = [];
        // Hide sheet
        self.sheetVisible = false;
        // Clear area
        self.messagebar.clear();
        // Focus area
        if (text.length) self.messagebar.focus();
        // Send message
        self.messagesData.push(...messagesToSend);

        // Mock response
        if (self.responseInProgress) return;
        self.responseInProgress = true;
        setTimeout(() => {
          const answer = self.answers[Math.floor(Math.random() * self.answers.length)];
          const person = self.people[Math.floor(Math.random() * self.people.length)];
          self.typingMessage = {
            name: person.name,
            avatar: person.avatar,
          };
          setTimeout(() => {
            self.messagesData.push({
              text: answer,
              type: 'received',
              name: person.name,
              avatar: person.avatar,
            });
            self.typingMessage = null;
            self.responseInProgress = false;
          }, 4000);
        }, 1000);
      },
    },
  };
</script>